body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 5%;
}

.btn {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #00acc1;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-danger {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #bd3026;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.confirmation {
    display: none;

}

/* make hidden from viewport but not display:none */
.hidden_button_for_exit_intent {
    position: absolute;
    top: -9999px;
    left: -9999px;
}